:root {
    --primary-color: #1600fb;
    --secondary-color: #ea00b6;
    --text-color: #ffffff;
    --secondary-color2: #ff0071;
    --secondary-color3: #ff693e;
    --secondary-color4: #ffbb34;
    --secondary-color5: #f9f871;
  
    /* new */
    --secondary-color6: #8c84fe;
    --secondary-color7: #84fe8c; 
    --secondary-color8: #fe8c84;
    --secondary-color9: #f6fe84;
    --secondary-color10: #673ce7;
    --secondary-color11: #5d386b;
    --secondary-color12: #2f1d6b;
    --secondary-color13: #f34c40;
    
    
    /* more than new colors */
    --secondary-color21: #050A44;
    --secondary-color22: #0A21C0;
    --secondary-color23: #B3B4BD;
    --secondary-color24: #100b24;
    --secondary-color25: #181255;
    --secondary-color26: #4d1e22e0;
    --secondary-color27: #0a4405d3;
  }
  
#mainHeading{
    font-family: "Noto Sans JP", sans-serif;    
    text-align: center;
    padding: 2vh;
    color: #052A44;
}

.Container{
    width: 100%;
    height: 80vh;
}

.searchBar{
    width: calc(100% - 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 25%;
    height: fit-content;
    padding: 2vh;
    border-radius: 5px;
    background-color: rgba(214, 204, 204, 0.678);
}

.searchBar input{
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    color: #050A44;
    border: none;
    outline: none;
    background-color: rgba(214, 204, 204, 0.678);
}

#searchBarIcon{
    color: var(--secondary-color21); font-size: 2vw;
}

.searchBar:hover, .searchBar input:hover{
    background-color: #fefefe;
}

.searchBar input:focus{
    background-color: #ffffff;
}

.searchBar:hover{
    box-shadow: 1px 1px 10px 1px var(--secondary-color21);
}

#Searchseperator{
    width: calc(100% - 4vw);
    display: grid; 
    color: var(--secondary-color21); 
    align-items: center; 
    justify-content: center;
    font-size: 5vh;
}

.SelectDropDown{
    position: relative;
    display: inline-block;
    width: 100%;
}

.DropDownButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin: 3vh;
}

.DropDownBtn{
    padding: 2vh 4vh;
    border-radius: 20px;
    color: white;
    font-weight: 900;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
}
#StateDropDownBtn{
    background-color: var(--secondary-color26);
}

#LevelDropDownBtn{
    background-color: var(--secondary-color27);
}

#StateDropDownBtn:hover, #LevelDropDownBtn:hover{
    background-color: var(--primary-color);
}


.StateDropDownContent, .LevelDropDownContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: 40%;
    min-width: 25%;
    max-height: 50vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
}

.StateDropDownContent a,
.LevelDropDownContent a {
    color: var(--secondary-color21);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.StateDropDownContent a:hover,
.LevelDropDownContent a:hover {
    background-color: #ddd;
}

@media (max-width:765px) {
    .DropDownBtn{
        font-size: 4vw;
        padding: 4vw 5vw;
    }

    .StateDropDownContent, .LevelDropDownContent{
        min-width: calc(100% - 6vw);
        left: 3vw;
    }

    .searchBar{
        width: calc(100% - 10%);
        margin: 2vh 5%;
    }

    .searchBar input{
        font-size: 4vw;
    }

    #searchBarIcon{
        font-size: 5vw;
    }
}



