:root {
    --primary-color: #1600fb;
    --secondary-color: #ea00b6;
    --text-color: #ffffff;
    --secondary-color2: #ff0071;
    --secondary-color3: #ff693e;
    --secondary-color4: #ffbb34;
    --secondary-color5: #f9f871;
  
    /* new */
    --secondary-color6: #8c84fe;
    --secondary-color7: #84fe8c;
    --secondary-color8: #fe8c84;
    --secondary-color9: #f6fe84;
    --secondary-color10: #673ce7;
    --secondary-color11: #5d386b;
    --secondary-color12: #2f1d6b;
    --secondary-color13: #f34c40;
    
    
    /* more than new colors */
    --secondary-color21: #050A44;
    --secondary-color22: #0A21C0;
    --secondary-color23: #B3B4BD;
    --secondary-color24: #100b24;
    --secondary-color25: #181255;
  }
  
.examTypeheading{
    text-align: center;
    padding: 5vh 0 0 0;
    margin: 2vh;
    }
    
.examTypeheading h1{
    color: var(--secondary-color21);
    font-size: 5vh;
}

@media (max-width:600px) {
    .examTypeheading{
        margin: 1vh 1vh 4vh 1vh;
    }

    .examTypeheading h1{
        font-size: 4vh;
    }

}

.examType{
    /* width: 100%; */
    margin: 5vh;
    padding: 5vh 25vh;
    border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: #e7e7e7;
}

.examType h1{
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color21);
    padding: 3vh 10vh 5vh 10vh;
    font-size: 5vh;
    text-align: center;
}

.examType h1:hover{
    text-decoration: 2px solid underline;
}

.examContainer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 2vh;
    overflow: hidden;
}

.examName2{
    padding: 4vh 24vh;
    background-color: var(--secondary-color21);
    border-radius: 5px;
}

.examName2{
    text-decoration: none;
    font-size: 2.7vh;
    font-weight: 300;
}

.examName2:hover{
    background-color: var(--secondary-color4);
    }
    
.examTypeheading h1:hover{ 
    text-decoration: 1.5px solid underline;
}

@media (max-width:600px){
    .examType{
        margin: 2vh 2vh 5vh 2vh;
    }

    .examType h1{
        font-size: 3.6vh;
        padding: 3vh 0 5vh 0;
    }
}

.examName2{
    width: auto;
    float: left;
    text-align: center;
    cursor: pointer;
    padding: 2.5vh 3vh;
    margin: 2vh;
    background-color: var(--secondary-color22);
    border-radius: 10px;
}

.examNameDetail{
    display: none;
    height: auto;
    margin: 0;
    padding: 15px;
    background-color: #7ca8c8;
    color: #e8e1e1;
    }


.examContainer.active .examNameDetail {
        display: block;
    }